<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>InterTight-ExtraLight.ttf</string>
		<string>InterTight-Light.ttf</string>
		<string>InterTight-Thin.ttf</string>
		<string>InterTight-Regular.ttf</string>
		<string>InterTight-Medium.ttf</string>
		<string>InterTight-SemiBold.ttf</string>
		<string>InterTight-Bold.ttf</string>
		<string>InterTight-ExtraBold.ttf</string>
		<string>InterTight-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
